body {
    font-family: Arial, sans-serif;
    background-color: #02051f;
    color: #c5cae6;
    float: center;
}

.header-box {
    width: 267px;
    height: 100px;
    background-color: #020d2b;
    margin-top: 3%;
    margin-left: 5%;
    text-align: center;
    padding: 1%;
}

.sidebar {
    width: 200px;
    text-align: center;
    float: right;
    margin: 10px;
}

.sidebar-head {
    border: 5px solid #041a4d;
    padding-top: 5px;
    background-color: #4e9dd9;
}

.sidebar-link {
    border: 5px solid #041a4d;
    background-color: #042a78;
}

.sidebar-status {
    border: 5px solid #041a4d;
    padding-top: 5px;
    background-color: #0c3569;
    border: 
}

.sidebar a {
    text-decoration: none;
    color: #acb7f2;
}

.sidebar a:hover {
    color: #7383de;
}

.options {
    padding-top: 1%;
    padding-left: 7%;
}

.options h5 {
    margin-left: 5px;
}

footer {
    background-color: #05081a;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

