.about-me {
	background-color: #020d2b;
    border: 5px solid #1e3978;
	
	margin-top: 7%;
	margin-left: 5%;
    margin-right: 30%;
	margin-bottom: 3%;
	
}

.about-me img {
	float: left; 
	
	width: 128px; 
	height: 128px;
	
	margin: 5%;
	
	background-color: #020d2b;
    border: 5px solid #c5cae6;
}

.embed {
	background-color: #020d2b;
    border: 5px solid #1e3978;
	
	margin-top: 2%;
	margin-left: 5%;
    margin-right: 30%;
	margin-bottom: 5%;
	
	padding: 3%;
}

.embed p {
	width: 43%;
	float: left;
	margin-top: -13px;
}

.embed img {
	margin-left: 3%;
	margin-top: 3%;
	float: left; 
	vertical-align: middle;
}

.embed textarea {
	margin-left: 4%;
	resize: none;
	vertical-align: middle;
}

.sneaky {
	font-size: 10px;
	color: #05081a;
}