.latest {
	position: relative;
	bottom: 0%;
	
    text-align: left;
	margin-left: 45%;
    margin-right: 25%;
	
	background-color: #020d2b;
    border: 5px solid #041a4d;
}

.latest h3 {
	display: inline-block;
    vertical-align: middle;
	margin-left: 5%;
}
