.options {
    text-align: left;
	margin-top: 3%;
	margin-left: 5%;
    margin-right: 65%;
	background-color: #020d2b;
    border: 5px solid #041a4d;
}

.options h1, h2 {
	display: inline-block;
    vertical-align: middle;
	margin-left: 5%;
}

.button-icon{
	width: 48px;
	height: 48px;
	
	background: url('../assets/button-unhover.png') no-repeat;
	background-position: center bottom;
    background-size: cover;
    border: none;
    cursor: pointer;
	
	float: right;
	display: inline-block;
    vertical-align: middle;
	
	margin-top: 5%;
	margin-right: 7%;
}

.button-icon:hover{
	background: url('../assets/button-icon.png') no-repeat;
}

.button-icon:active{
	background: url('../assets/button-click.png') no-repeat;
}