.sidebar {
    width: 200px;
    height: 450px;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 7%;
    margin: 5px;
}

.sidebar-head {
	padding-left: 3%;
    border: 5px solid #041a4d;
    background-color: #021329;
}

.sidebar-link {
	padding-left: 3%;
    border: 5px solid #041a4d;
    background-color: #021329;
}

.sidebar-status {
	padding-left: 3%;
    border: 5px solid #041a4d;
    background-color: #021329;
}

.sidebar a {
    text-decoration: none;
    color: #768af5;
}

.sidebar a:hover {
    color: #3e59ed
}