@media screen and (max-width: 768px) { 
	.sidebar {
		display: none;
	}
}

.sidebar {
    font-family: Arial, sans-serif;
    color: #c5cae6;
    width: 200px;
    height: 265px;
    text-align: left;
}

.sidebar-head {
	padding-left: 3%;
    border: 5px solid #1e3978;
    border-bottom: 2px solid #1e3978;
    background-color: #021329;
}

.sidebar-link {
	padding-left: 3%;
    border: 5px solid #1e3978;
    border-top: 2px solid #1e3978;
    border-bottom: 2px solid #1e3978;
    background-color: #021329;
}

.sidebar-status {
	padding-left: 3%;
    border: 5px solid #1e3978;
    border-top: 2px solid #1e3978;
    background-color: #021329;
}

.sidebar a {
    text-decoration: none;
    color: #768af5;
}

.sidebar a:hover {
    color: #3e59ed
}

.anchor {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 7%;
    height: 300px;
    width: 215px;
}